.div{
	height: 700px;
	width: 1600px;
	background-color:yellow;
	margin: 20px 20px 20px 20px;
	padding-top: 30px;
	box-sizing: border-box;
}
.one{
	height: 400px;
	width: 300px;
	background-color: blue;
	margin: 20px 20px 20px 20px;
	padding-top: 30px;
	box-sizing: border-box;
}