.one{
	height:200px;
	width: 400px;
	background-color: skyblue;
	color:white;
	padding: 80px;
	font-size: 40px;
}
.two{
	height: 200px;
	width: 400px;
	background-color: yellow;
	color:black;
	padding: 80px;
	box-sizing: border-box;
	font-size: 40px;
}
*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}