.one{
	height:180px;
	width:400px;
	background: aqua;
	margin-top:50px;
	margin-right:80px;
	margin-bottom:50px;
	margin-left:10px;
	float: left;
	font-size: 40px;
	font-family: initial;
	padding-top: 100px;
	border:2px solid black;
}
.two{
	height:150px;
	width:500px;
	background: hotpink;
	margin-top:60px;
	margin-right:0px;
	margin-bottom:50px;
	margin-left:10px;
	font-size: 40px;
	font-family: initial;
	padding-top: 100px;
	float: left;
	border:2px solid black;
}
.three{
	height:200px;
	width:250px;
	background: lightgreen;
	margin-top:60px;
	margin-right:0px;
	margin-bottom:50px;
	margin-left:0px;
	float: right;
	font-size: 40px;
	font-family: initial;
	padding-top: 100px;
	border-radius: 15px;
	border:2px solid black;
}