.one{
	background-color: wheat;
	height: 250px;
	width: 600px;
}
.two{
	background-color: skyblue;
	height: 270px;
	width: 600px;
}
.empty{
	background-color: cornflowerblue;
	height: 10px;
	width: 600px;
}
.empty2{
	background-color: cornflowerblue;
	height: 10px;
	width:600px;
}
.two1{
	background-color: cornflowerblue;
	color:white;
	font-size: 30px;
	font-family: inherit;
	height: 40px;
	width: 600px;
}
.two12{
	background-color: cornflowerblue;
	color:white;
	font-size: 15px;
	font-family: inherit;
	height: 30px;
	width: 600px;
}
.two2{
	background-color: black;
	height: 200px;
	width: 600px;
}
.two21{
	background-color: cornflowerblue;
	height: 170px;
	width: 600px;
}
.first{
	background-color: cornflowerblue;
	height: 170px;
	width: 100px;
	float:left;
}
.gift{
	background-color: lightblue;
	height: 170px;
	width: 90px;
	font-size: 15px;
	border-radius: 10px;
	float:left;
}

.gift1{
	background-color: cornflowerblue;
	height: 170px;
	width: 10px;
	float:left;
}
.flight{
	background-color: white;
	height: 170px;
	width: 90px;
	font-size: 15px;
	border-radius: 10px;
	float:left;
}
.flight1{
	background-color: cornflowerblue;
	height: 170px;
	width: 10px;
	float:left;
}
.luggage{
	background-color: lightblue;
	height: 170px;
	width: 90px;
	font-size: 15px;
	border-radius: 10px;
	float:left;
}
.luggage1{
	background-color: cornflowerblue;
	height: 170px;
	width: 10px;
	float:left;
}
.health{
	background-color: white;
	height: 170px;
	width: 100px;
	font-size: 15px;
	border-radius: 10px;
	float:left;
}
.last{
	background-color: cornflowerblue;
	height: 170px;
	width: 100px;
	float:right;
}
.two22{
	background-color: cornflowerblue;
	height: 30px;
	width: 600px;
}


.three{
	background-color: wheat;
	height: 270px;
	width: 600px;
}

.four{
	background-color: cornflowerblue;
	height: 200px;
	width: 600px;
}
.five{
	background-color: white;
	height: 200px;
	width: 600px;
	font-size: 30px;
	color:cornflowerblue;
}
.six{
	background-color: cornflowerblue;
	height: 150px;
	width: 600px;
	font-size: 30px;
	color:white;
}
.make{
	padding-left:10px;
	border-radius: 10px;
	font-size: 10px;
	font-family: initial;
}
.air{
	border-radius: 10px;
	font-size: 10px;
	font-family: initial;
}
.third{
	border-radius: 10px;
	font-size: 10px;
	font-family: initial;
	background-color: orange;
	color: white;
}
.seven{
	background-color: wheat;
	height: 250px;
	width: 600px;
}
.eight{
	background-color: cornflowerblue;
	height: 250px;
	width: 600px;
	padding-bottom: 10px;
	font-size: 40px;
	font-family: initial;
	color:white;
	padding-top:10px;
}
.nine{
	background-color: wheat;
	height: 200px;
	width: 600px;
}